# settings for Aurora should be passed under the aurora_config key
# see aurora.model.aurora.Aurora for all valid Aurora keyword arguments

test_short_lead:
  type: short
  mode: test
  steps: 5
  learning_rate: 3e-5
  aurora_config:
    autocast: true

eval_short_lead:
  type: short
  mode: eval
  steps: 5
  learning_rate: 3e-5
  aurora_config:
    autocast: true

eval_short_lead_lora:
  type: short
  mode: eval
  steps: 5
  learning_rate: 3e-5
  aurora_config:
    use_lora: true
    lora_mode: single
    lora_steps: 40
    autocast: true

test_autoregressive:
  type: rollout
  mode: test
  steps: 5
  rollout_steps: 4
  learning_rate: 3e-5
  aurora_config:
    use_lora: false
    autocast: true

eval_autoregressive:
  type: rollout
  mode: eval
  steps: 5
  rollout_steps: 4
  learning_rate: 3e-5
  aurora_config:
    use_lora: true
    lora_mode: single
    lora_steps: 40
    autocast: true

test_add_variable:
  type: short
  mode: test
  steps: 5
  learning_rate: 3e-5
  aurora_config:
    use_lora: true
    lora_mode: single
    lora_steps: 40
    autocast: true
  extra_variables:
    2m_dewpoint_temperature:
      kind: surf_vars
      key: d2m
      location: 0.0  # use real normalisation stats if possible
      scale: 1.0

eval_add_variable:
  type: short
  steps: 5
  mode: eval
  learning_rate: 3e-5
  aurora_config:
    use_lora: true
    lora_mode: single
    lora_steps: 40
    autocast: true
  extra_variables:
    2m_dewpoint_temperature:
      kind: surf_vars
      key: d2m
      location: 0.0
      scale: 1.0
